    
    /*================================================== 
    START TEMP FIXES
    ==================================================*/
    
    /*================================================== 
    front-page slider
    ==================================================*/  
    
    ul.slides-wrapper {
        margin-bottom: 0;
    }

    .full-size-carousel ul.slides-wrapper {
        margin-bottom: 8px;
    }

    main.content .page-header-component, main.content .circle-crop-carousel, main.content .full-size-carousel {
        margin-top: -2.6rem;
    }

    .carousel.full-size-carousel .details-container .title {
        padding-top: 0.75em;	
    }

    .carousel.circle-crop-carousel .details-container .description, .carousel.full-size-carousel .details-container .description {
        line-height: 1.625;
    }
    
    .carousel.circle-crop-carousel .details-container .cta, .carousel.full-size-carousel .details-container .cta {
        margin-top: 0;
    }    
    
    .carousel .carousel-indicators {
        display: none;
    }

    @media (max-width: 1024px) {
        .carousel.circle-crop-carousel .details-container .description, .carousel.full-size-carousel .details-container .description {
            padding: 0 16px;
        }

        .carousel.circle-crop-carousel .details-container .cta, .carousel.full-size-carousel .details-container .cta {	
            padding: 0  16px 18px;
        }     
    }

    @media (min-width: 1025px) {
        .carousel.full-size-carousel .full-size-slide {
            height: 498px;
        }	

        .carousel.full-size-carousel .full-size-slide .details-container {
            max-width: 427px;
            padding-left: 40px;
        }	

        .carousel.full-size-carousel .details-container .title {
            padding-top: 5.4em; padding-top: 5.8em;	
            font-size: 3.4rem;
        }	

        .carousel.full-size-carousel .full-size-slide .details-container.full-width-image .title, .carousel.full-size-carousel .full-size-slide .details-container.full-width-image .cta, .carousel.full-size-carousel .full-size-slide .details-container.full-width-image .description {
            color: #ffffff !important;
        }
    }

    @media (min-width: 1025px) {	
        .carousel.full-size-carousel .full-size-slide .details-container {
            padding-left: 50px;
        }
    }

    @media (min-width: 1050px) {	
        .carousel.full-size-carousel .full-size-slide .details-container {
            padding-left: 55px;
        }
    }
   
    /*================================================== 
    global
    ==================================================*/
    
    body[class*="span"] {
        float: none; 
        min-height: 100%; 
        margin-left: 0; 
    }
    
    body,
    .station-header .menu__ul.navbar-nav .menu__li > .menu-item, 
    .station-header .menu__ul.navbar-nav .menu__li > .menu-item:hover, 
    .station-header .menu__ul.navbar-nav .menu__li > .menu-item:focus,
    #component-bab3ce50-d94b-11e7-854c-b3ea37ebaa13 .footer-wrapper.light .links-column .column-header,
    #component-bab3ce50-d94b-11e7-854c-b3ea37ebaa13 .footer-wrapper.light .footer-details, 
    #component-bab3ce50-d94b-11e7-854c-b3ea37ebaa13 .footer-wrapper.light .footer-details *,
    .blog-entry-container .blog-entry-title,
    .blog-entry-container .blog-entry-content,
    .blogEntry__24_Rs .title, .blogEntry__24_Rs .title *,
    .blogEntry__24_Rs .content-body{
        color: #474747;
    }
    
    .blog-entry-container .blog-entry-title {
        font-size: 2.5rem;
    }    
    
    .klrn_button.read-more__link.klrn_button_display_block {
        width: 96%;
        width: 100%;
    } 
    
    .media, .media .media {
        margin: 1em 0;
        display: inline-block;
        width: 100%;
    } 
  
    ol, ul {
        margin-bottom: 16px;
    }
    
	.blogRiver__2-Wjj .load-more-wrapper .load-more, .klrn_button.read-more__link, .simple-button-component .simple-button-value .text-input {    
        margin-top: 2px;
    }
    
    p:not(:first-child) .klrn_button.read-more__link.klrn_button_display_block:first-child {
        margin-top: 8px; margin-top: 6px;
    }    
   
    /* FIX MAIN PROMO TILE PADDING */
    #component-226c0e70-c025-11e8-a510-ab9feec55ef7 img {
        opacity: 0.95; opacity: 1;
    }    
    
    /*================================================== 
    fix blog images
    ==================================================*/

    .blog-entry-content.text-container .image figcaption {
        background: rgba(0,0,0,0);
        border-top: none;
        padding: 10px 18px 11px 18px;
        padding: 10px 0 11px;
    }

    .blog-entry-content.text-container .image figcaption span {
        color: #555 !important;
    }    
    
    /*================================================== 
    tweaks
    ==================================================*/
    
    #layout-ba6653c8-7257-4172-ad4f-5cbb0383f9f4 img[src*=ebd2e5f80_donate] {
        opacity: .92;
    }
    
    /*================================================== 
    adjust mobile donate button
    ==================================================*/

    a#klrn_mobile_donate_button div {
        margin-top: -6px;
    }    
    
    /*================================================== 
    fix header
    ==================================================*/

    @media (min-width: 1280px) {
        .station-header .station-header-logo {
            padding: 0 16px;
            padding: 0 16px 0 0;
        }
    }

    @media (max-width: 1279px) {
        .station-header .station-header-logo {
            padding: 0 16px 0 0;
        }
    }

    @media (max-width: 1311px) {
        nav#c33ef9a0-d91e-11e7-8b84-67caa8590abc .menu-container {
            padding: 0 0 0 16px;
        }
        .blogRiver__2-Wjj, .klrn_podcast_embed {
            padding: 0 16px;
        }
    }   
    
    /*================================================== 
    fix footer
    ==================================================*/

    .expanded-footer {
        padding: 48px 0;
        max-width: 1280px;
        margin: 0 auto;
    }

    .expanded-footer .footer-logo-container, .expanded-footer .footer-logo-container-default {
        margin-bottom: 2em;
        height: auto;
    }

    .expanded-footer .footer-logo-container .flexible-footer-logo, .expanded-footer .footer-logo-container-default .flexible-footer-logo {
        width: 195px;
        margin-top: 4px;
    }

    .expanded-footer .footer-details p:empty,
    .expanded-footer .links-column li.link-element {
        margin-bottom: 0; 
    }

    @media (max-width: 1311px) {
        .expanded-footer, div.expanded-footer row-fluid {
            padding-right: 16px;
            padding-left: 16px;
        }	
    }

    @media (max-width: 1023px) {
        .expanded-footer .links-section {
            margin-bottom: 0;
            padding-left: 10%; 
        }	

        .expanded-footer .links-column, .expanded-footer .flexible-footer-social {
            width: 50%;
        }
    }

    @media (max-width: 767px) {
        .expanded-footer .footer-logo-container .flexible-footer-logo, .expanded-footer .footer-logo-container-default .flexible-footer-logo {
            margin-left: 16px;
        }	

        .expanded-footer .links-section {
            padding-left: 25%; 
            margin-top: 4.5em;
        }

        .expanded-footer .contact-section {
            display: block;
            text-align: center;
        }

        .expanded-footer .contact-section .footer-logo-container, 
        .expanded-footer .contact-section .footer-logo-container-default, 
        .expanded-footer .contact-section .footer-details,
        .expanded-footer .contact-section .footer-details p	{
            width: 100%;
            max-width: none;
            padding: 0;
        }	
    }

    @media (max-width: 550px) {	
        .expanded-footer .links-section {
            padding-left: 20%; 
        }	
    }

    @media (max-width: 425px) {	
        .expanded-footer .links-section {
            padding-left: 15%; 
        }	
    }

    @media (max-width: 375px) {	
        .expanded-footer .links-section {
            padding-left: 12%; 
        }	
    }

    @media (max-width: 350px) {	
        .expanded-footer .links-section {
            padding-left: 9%; 
        }	
    }
    
    /*================================================== 
    adjust nav search button 
    ==================================================*/

    @media (min-width: 1312px) {
        .station-header .menu__ul.navbar-nav {
            margin-right: 40px;
        }
        .station-header .station-header-search {
            width: 35px;
        }	
    }  
    
    /*================================================== 
    fix section header component 
    ==================================================*/    
    
    .section-header-component .section-header-value {
        font-weight: 300 !important;
    }

    .section-header-component.underline h2 {
        border-bottom-width: 2px;
        line-height: 1.45;
    }   

    /*================================================== 
    promo opacity on schedule page and sidebar
    ==================================================*/        
    
    .schedule img[alt*="PBS Learning Media"] {
		opacity: 0.9;
    } 
    
    img[alt*="Firstmark"] {
        opacity: 0.95;
    }    
    
    /*================================================== 
    fix promo w/date margin 
    ==================================================*/   
    
    article > div.promo-text.span6 > p.channel {
        margin: 12px 0 !important;
    }    
    
    /*================================================== 
    livestream module
    ==================================================*/   

    body.live #component-9e9f48f0-e7b4-11ea-b15f-7d6c9dcac937 {
        position: relative;
        height: 0;
        overflow: hidden;
        margin-top: 0;
        padding-bottom: 56.25%;
    }

    body.live #livestream-module {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }   

    /*================================================== 
    fix max-width failure on sponsor tile displays in chrome
    ==================================================*/       
   
    @media (max-width: 767px), (min-width: 1200px) {
        #component-226c0e70-c025-11e8-a510-ab9feec55ef7 .filer-image-container .filer-image {
            width: 301.5px;
        }
        #component-19fb5ee0-f369-11e8-90bb-7b9969ce1070 .filer-image, 
        #component-487eb930-f29a-11e8-ac11-cf036755f6fe .filer-image {
            width: 307.5px;
        }          
    }  
    
    /*================================================== 
    fix spacing on Watch Now caused by margin collapse
    ==================================================*/      
    
    #column-0fa9631a-e8ba-4117-adae-751046aae720 {
        border-top: 1px solid #fff;
    }
    
    /*================================================== 
    fix another forced PBS style
    ==================================================*/   
    
    .blogEntry__24_Rs .entry-image-wrapper {
        padding-top: calc(9/16 * 100%);
    }
    
    /*================================================== 
    adjust image displays in blog posts
    ==================================================*/      
    
    .blog-entry-content.text-container .image {
    margin-top: 1.5em;
    }

    .blog-entry-content.text-container .image.image-style-align-center {
        max-width: 100%;
    }

    .text-container .image:not(.image-style-full-size):not(.image-style-align-right):not(.image-style-align-center):not(.image-style-align-left) {
        margin-top: 0.5em;
    }

    .blog-entry-content.text-container .image figcaption {
        padding-bottom: 0;
    }    

    /*================================================== 
    TEMPORARILY ADD TOP MARGIN TO BANNERS
    ==================================================*/    
    
    .professional-development #rich-text-9327a59c-afde-47c2-9fac-02a776dbf982 > figure,
    .school-services #rich-text-748753e0-0fe7-11eb-83fe-8d7345dd9b5e > figure {
        margin-top: 0.5em;
    }
    
    /*================================================== 
    FIX MAIN DISPLAY IMAGES  
    ==================================================*/      
    
    .filer-image-container {
        display: block;
    }

    /*================================================== 
    hankemmafaye PAGE ADJUSTMENTS   
    ==================================================*/      
    
    #rich-text-449905b0-3be9-11eb-bcb3-c7232c214b70 > figure {
        margin-top: -1px;
        max-width: 50%;
    }  
    
    /*================================================== 
    INCREASE LINE LIMIT ON PROMOS   
    ==================================================*/   
    
    /*================================================== 
    END TEMP FIXES
    ==================================================*/















